.title h2 {
    font-size: 1rem;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
}

.content .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.content .navbar .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--text-color);
}


.blog-list .blog-item {
    display: flex;
}

.blog-item .blog-image {
    flex: 40%;
}

.blog-item .blog-content {
    flex: 60%;
}

.blog-item .blog-content h3 {
    font-weight: normal;
    line-height: 1.4;
    font-size: 1rem;
}

.blog-item.top-line {
    margin-top: 15px;
    border-top: 2px solid #f7f7f7;
    padding-top: 15px;
}

.blog-right .title {
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.75rem;
    padding: 10px 0;
}

.blog-right .time {
    display: flex;
    font-size: 14px;
}

.blog-right .time span {
    color: #6c757d !important;
    font-weight: 300 !important;
}

.blog-right .content p,
h3 {
    font-size: 14px;
}