.contact-left .single-contact {
    align-items: baseline;
    font-size: 15px;
    margin-bottom: 10px;
}

.contact-left .single-contact i {
    color: var(--primary-color);
    margin-right: 5px;
    width: 20px;
    flex: 0 0 20px;
}