/* Footer  */
.top-footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #f7f7f7;
}


.mid-footer {
    padding-top: 40px;
    background: var(--footer-bg);
    color: var(--footer-color);
    font-size: 15px;
    padding-bottom: 10px;
}


.mid-footer .title-menu {
    margin: 0px 0px 17px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-footer .title-menu .fa {
    transition: transform .3s ease-out;
    cursor: pointer;
}

.mid-footer .list-menu {
    list-style: none;
    padding: 0px;
    display: none;
}

.mid-footer .list-menu.hide {
    display: block;
}

@media (min-width: 768px) {
    .mid-footer .list-menu {
        display: block;
    }
}

.mid-footer .list-menu li+li {
    margin-top: 10px;
}

.mid-footer .link:hover {
    filter: brightness(1.2);
}

.mid-footer .link {
    font-size: 15px;
    color: var(--footer-color);
}

.d-inline-block {
    display: inline-block !important;
}



@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }
}



.fb_iframe_widget_fluid {
    display: inline;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
}

.fb_iframe_widget iframe {
    position: absolute;
}